* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/fonts/AvenirNextCyr-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 450;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.bcg {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.bcg:before {
  position: absolute;
  content: url(../img/bef.jpg);
  top: -92px;
  left: -5px;
  z-index: -1;
}

.bcg:after {
  position: absolute;
  content: url(../img/aft.jpg);
  top: -17px;
  right: 0;
  z-index: -1;
}

.blue {
  color: #2196f3;
}

.header__first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 57px 0;
}

.logo {
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: none;
  outline: none;
  font-size: 18px;
  line-height: 27px;
  padding: 7px 28px;
  border-radius: 100px;
  border: 2px solid #2196f3;
  color: #2196f3;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease;
}

.logo:hover,
.logo:focus {
  background-color: #2196f3;
  color: #fff;
}

.header__right {
  position: relative;
}

.header__phone {
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #2196f3;
  position: relative;
}

.header__phone:hover,
.header__phone:focus {
  opacity: 0.6;
}

.header__phone i {
  font-size: 16px;
  margin-top: -5px;
  margin-left: 4px;
}

.phone {
  position: absolute;
  left: -25px;
  top: 8px;
}

.cart {
  position: relative;
  background: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 450;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px 50px 50px 0;
  padding: 9.7px 30px;
  margin-left: 59px;
  text-decoration: none;
  color: #2196F3;
  transition: 0.5s ease;
}

.cart a {
  color: #2196f3;
  margin-right: 5px;
  transition: 0.5s ease;
}

.cart i {
  font-size: 19px;
}

.cart:hover,
.cart:focus {
  color: #ffffff;
  background: linear-gradient(151.24deg, #2196f3 26.24%, #5c76ff 102.67%);
}

.cart:hover a,
.cart:focus a {
  color: #ffffff;
  background: linear-gradient(151.24deg, #2196f3 26.24%, #5c76ff 102.67%);
}

.cart:hover span,
.cart:focus span {
  color: #2196f3;
  background-color: #fff;
}

.cart__item {
  position: absolute;
  top: -5px;
  right: 0;
  width: 17px;
  height: 17px;
  background: #2196f3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 50%;
  transition: 0.5s ease;
  text-align: center;
  font-size: 15px;
}

.title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #444444;
  margin-bottom: 41px;
}

.search {
  position: relative;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  max-width: 56%;
  height: 62px;
  border: 1px solid #2196f3;
}

.search i {
  position: absolute;
  left: 21px;
  bottom: 20px;
  font-size: 23px;
  color: #2196f3;
  cursor: pointer;
}

.search input {
  outline: none;
  border-radius: 100px;
  border: none;
  width: 100%;
  height: 60px;
  padding: 8px 0 0 74px;
}

.search input:focus {
  background: #f5f5f5;
}

.search input::placeholder {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #595959;
  opacity: 0.5;
}

.search__cart {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 218px;
  height: 60px;
  background: linear-gradient(140.28deg, #2196f3 26.24%, #5c76ff 102.67%);
}

.search__cart:hover,
.search__cart:focus {
  opacity: 0.6;
}

.block-info {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 241px;
}

.gray {
  color: rgba(68, 68, 68, 0.75);
}

.product {
  background: #ffffff;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.product__img img {
  width: 100%;
}

.product__text {
  padding: 0 25px;
}



.product__name {
  display: block;
  margin: 22px 0 10px 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #2196f3;
}

.list {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
}

.list ul li {
  display: flex;
  align-items: center;
}

.list ul li span {
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.75;
  display: block;
  margin-bottom: 5px;
}

.list__name {
  font-weight: 400;
  width: 134px;
}

.list__quantity {
  font-weight: 600;
  color: #2196f3;
  text-align: right;
  margin-left: auto;
}

.price {
  margin-right: 16px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #444444;
}

.old-price {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  color: #2196f3;
  text-decoration: line-through;
}

.btn {
  display: block;
  font-family: "Avenir Next Cyr";
  color: #fff;
  /* outline: none; */
  background: linear-gradient(151.24deg, #2196f3 26.24%, #5c76ff 102.67%);
  border: 1px solid #2196f3;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 12px 0;
  width: 100%;
  margin: 12px 0 20px 0;
  text-decoration: none;
  transition: 0.5s ease;
}

.btn:hover,
.btn:focus {
  background: #ffffff;
  color: #2196f3;
}

.padding {
  padding-bottom: 110px;
}

.footer {
  background: #f5f5f5;
}

.footer__inner {
  display: flex;
  align-items: center;
  background-image: url(../img/img_foot.png);
  background-repeat: no-repeat;
  background-position: 66.5% 52%;
  padding: 45px 103px;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  font-family: Avenir Next Cyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
  width: 100%;
  max-width: 440px;
  margin-left: 107px;
}

.footer__link a:hover {
  color: #2196f3;
}

.footer__link a {
  width: auto;
  position: relative;
  text-decoration: none;
  display: block;
}

.footer__aft,
.footer__aft--right {
  margin-bottom: 50px;
}

.footer__aft:after {
  width: 213px;
  background: #2196f3;
  height: 1px;
  position: absolute;
  content: "";
  left: 0;
  opacity: 0.5;
  bottom: -25px;
}

.footer__aft--right:after {
  width: 134px;
  background: #2196f3;
  height: 1px;
  position: absolute;
  content: "";
  left: 0;
  bottom: -25px;
  opacity: 0.5;
}

.footer_phone {
  font-family: "Avenir Next Cyr";
  font-size: 19px;
  line-height: 17px;
  text-decoration: none;
  position: relative;
  margin-left: auto;
  color: #2196f3;
}

.footer_phone i {
  top: 0px;
  font-size: 19px;
  left: -30px;
}

.footer_phone:hover,
.footer_phone:focus {
  opacity: 0.6;
}

.footer__aside {
  padding: 45px 0;
  background: #efefef;
  text-align: center;
}


@media (min-width:1200px) {

  header.container,
  .product__wrapper {
    max-width: 1230px;
  }
}